@charset "UTF-8";

@media screen and (min-width: 600px) and (max-width: 1000px) {
  body{
    background-image: linear-gradient(to bottom, #3D3859, #96B9D9 ,  #3D3859 );
  }
  #login{
    width: 90vw;
    height: 65vh;
  }
  #login > #imagem{
    float: left;
    width: 35%;
    height: 100%;

  }
  #login > #formulario{
    float: right;
    width: 65%;
    margin-top:100px;
  }
  input{
    width: 80%;
  }
  #labelsenha{
    font-size: .93em;
  }
}

@media screen and (min-width: 1000px) {
  body{
    background-image: linear-gradient(to bottom, #3D3859, #4E6BA6, #96B9D9 ,#3D3859);
  }
  #login{
    width: 1050px;
    height: 700px;
  }
  #login > #imagem{
    float: right;
    width: 50%;
    height: 100%;

  }
  #login > #formulario{
    float: left;
    width: 50%;
    margin-top:150px;
  }
  input{
    width: 80%;
  }

  h1{
    font-size: 2em;
  }
  p{
    font-size: 1.2em;
  }
}