@charset "UTF-8";

/* paleta de cores:
#3D3859 (mais escura)
#8775A7 
#4E6BA6
#5679BF
#96B9D9 (mais clara) */

*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body, html{
  background-color:#3D3859 ;
  height: 100vh;
  width: 100vw;
}

main{
  position: relative;
  height: 100vh;
  width: 100vw;
}
#login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.767);
  transition: width .3s, height .3s;
  transition-timing-function: ease;
}

#login > #imagem{
  display: block;
  background: url(imagens/pexels-trace-hudson-2797752.jpg) center center;
  background-size: cover;
  height: 200px;
}

#login > #formulario{
  display: block;
  padding: 10px;
}

h1{
  text-align: center;
  margin-bottom: 10px;
}

p{
  text-align: center;
  font-size: 0.8em;
}

form > input[type=submit]{
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: #3D3859;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form > input[type=submit]:hover{
  background-color:#8775A7 ;
}

form > .botao{
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: #3D3859;
  margin-top: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-top: 6px;
}
#idspan1, #idspan2{
  padding-top: 5px;
}
.botao > span{
  font-size: .9em;
}
.botao:hover{
  background-color: #8775A7;
}

.campo{
  background-color: #4E6BA6;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin: 5px 0px;
}

#labelsenha{
  font-size: .95em;
}


